


@media screen and ( min-height: 200px ){
    .scroll-content{
        height:60px;
    }
}

@media screen and ( min-height: 300px ){
    .scroll-content{
        height:120px;
    }
}

@media screen and ( min-height: 400px ){
    .scroll-content{
        height:180px;
    }
}
@media screen and ( min-height: 550px ){
    .scroll-content{
        height:240px;
    }
}

@media screen and ( min-height: 700px ){
    .scroll-content{
        height:300px;
    }
}

  

  
