

.dropdown-toggle:after{
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
}

.btn-fn {
    padding:0;
    .fn-type {
		height: 100%;
		padding: 0 15px;
		float: left;
		background: #F7F8FA;
		font-family: Roboto Mono;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 12px;
		align-items: center;
		text-align: center;		
		color: #7C8093; 
    span{
		display: table-cell;
		vertical-align: middle;
		height: 42px;
		background: #F7F8FA;
		color: #7C8093;
    }
    }  
    .fn-text {
        width:100%;
        text-align: center;
        height:100%;
        span{
        display:table-cell;
        vertical-align: middle;
        padding-left:15px;
        height:45px;
    }
    
    }
    &:hover.fn-type {
        background:  #ebedf2;
    }
}


.dd-content-function {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    width: 368px;
}

.xAxis {
    top: -60px  
}

.yAxis {
    top: -120px
} 

.form-group {
    padding: 30px 0 0 0;
    display: block;
    label {  
        padding:0 0 25px 0;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0;

        i { 
            background: #FFFFFF;
            border-radius: 50%;
            font-size: 20px;
            line-height: 18px;
            color: #2C85F8;
            padding: 2px
        }
    }
}

.head-form
{
    padding: 1px 0 0 0;
}

.btn-outline-primary {
	height: 45px;
	background: #FFFFFF;
	border: 1px solid#E6E6E6;
	box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
}

.btn-outline-primary:hover {
	color: #525668;
}

.show>.btn-outline-primary.dropdown-toggle {
	color: #525668;
	background-color: #E6E6E6;
	height: 45px;
	background: #FFFFFF;
	border: 1px solid#E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
}

.custom-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
}

.badge-info {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #2C85F8;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	align-items: center;
	text-align: center;
	color: #2C85F8;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider.ng5-slider 
    {
    .ng5-slider-pointer {
        cursor: pointer;
        width: 22px;
        height: 22px;
        top: -10px;
        background-color: #2C85F8;
        z-index: 3;
        border-radius: 16px;
    }

     .ng5-slider-pointer:after {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 16px;
        background: #fff;
    }

     .ng5-slider-bar {
        background: #e1e4e9;
        height: 2px;
      }
      
       .ng5-slider-selection {
        background: #2C85F8;
      }

       .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: #e1e4e9;
        top: -1px;
      }
    }

  }


