<app-progress-bar *ngIf="loading"></app-progress-bar>


<div class="form-group my-2 head-form" *ngIf="content.displayXAxisControl">
    <!-- <span class="wc-sub-header w-100 "> -->

    <label><i class="la la-file-text"></i> {{'t_Categories'| translate }}</label>
    <!-- </span> -->
    <!-- <label><i class="la la-file"></i> {{'t_Categories'| translate }}</label> -->
    <div class="dropdown" dropdown container="body" [isDisabled]="!(xAxis && xAxis.length>0)"
        [insideClick]="dropDownInsideClickEnabled">
        <button dropdownToggle id="ddxAxisValue" type="button"
            class="btn btn-block form-control-sm btn-outline-primary dropdown-toggle">
            {{xAxisValue && xAxisValue.columnName? xAxisValue.columnName : 't_SelectEntry'| translate }}
            <span *ngIf="xAxisValue && xAxisValue.columnTypeName" class="badge badge-info ts-info-type">
                {{xAxisValue && xAxisValue.columnTypeName? xAxisValue.columnTypeName : ''}}
            </span>
        </button>

        <app-dd-content-data-mapping *dropdownMenu id="ddxAxisValue" class="dropdown-menu dd-content-function xAxis"
            role="menu" [datasets]="datasets" [columns]="xAxis" (onColSelect)="onXAxisChange($event)"
            (onSearchClicked)="handleSearchClicked($event)">
        </app-dd-content-data-mapping>
    </div>
</div>


<div class="form-group my-2" *ngIf="content.displayYAxisControl">
    <!-- <label><i class="la la-arrows-h"></i> {{'t_ColumnY'| translate }}</label> -->
    <!-- <span class="wc-sub-header w-100 "> -->

    <label><i class="la la-arrows-h"></i> {{'t_ColumnY'| translate }}</label>
    <!-- </span> -->
    <div class="dropdown" [insideClick]="dropDownInsideClickEnabled" dropdown container="body"
        [isDisabled]="!(yAxis && yAxis.length>0)" (isOpenChange)="!$event">
        <button dropdownToggle id="ddyAxisValue" type="button"
            class="btn form-control-sm btn-block btn-outline-primary btn-fn dropdown-toggle">

            <div class="fn-type btn-info">
                <span>{{yFuncName}}</span>
            </div>
            <div class="fn-text">
                <span>
                    {{yAxisValue && yAxisValue.columnName? yAxisValue.columnName : 't_SelectEntry'| translate }}
                </span>
            </div>

        </button>

        <app-dd-content-data-mapping *dropdownMenu id="ddyAxisValue" class="dropdown-menu dd-content-function yAxis"
            role="menu" [datasets]="datasets" [columns]="yAxis" [allFunctions]="allFunctions" [selectedFn]="yFuncValue"
            [functions]="yFuncs" (onFnSelect)="onYFuncChange($event)" (onColSelect)="onYAxisChange($event)"
            (onSearchClicked)="handleSearchClicked($event)">
        </app-dd-content-data-mapping>

    </div>
</div>

<!-- <div class="mr-auto d-flex w-100">
    <app-switch-bar *ngIf="content.maxBucket > 0 && content.maxLimit > 0" [(state)]="showBucket"
        [leftSide]="{icon:'fas fa-list-ol', label:'t_LimitSlider'| translate }"
        [rightSide]="{icon:'fas fa-layer-group', label:'t_BucketSlider'| translate }" [enabled]='true'>
    </app-switch-bar>
</div> -->


<div class="form-group my-2" *ngIf="!showBucket && content.maxLimit > 0">
    <label><i class="fas fa-list-ol"></i> {{'t_LimitSlider'| translate }}</label>
    <ng5-slider class="custom-slider mb-2" [(value)]="valueLimit" [options]="limitOptions"
        (userChangeEnd)="valueLimitChange()">
    </ng5-slider>
</div>

<div class="form-group my-2" *ngIf="showBucket && content.maxBucket > 0">
    <label><i class="fas fa-layer-group"></i> {{'t_BucketSlider'| translate }}</label>
    <ng5-slider class="custom-slider mb-2" [(value)]="valueBucket" [options]="bucketOptions"
        (userChangeEnd)="valueBucketChange()">
    </ng5-slider>
</div>




<div class="form-group my-2" *ngIf="content.displaySortOptions">
    <label><i class="la la-arrows-v"></i> {{'t_SortBy'| translate }}</label>
    <div class="btn-group btn-group-sm mb-2" dropdown container="body" (isOpenChange)="!$event && onSortChange()">
        <button dropdownToggle id="ddxAxisSortingValue" type="button" class="btn btn-outline-primary dropdown-toggle">
            {{xAxisValue && xAxisValue.columnName? xAxisValue.columnName : 't_SelectEntry'| translate }}
        </button>
        <ul id="ddxAxisSortingValue" *dropdownMenu class="dropdown-menu" role="menu">
            <li (click)="sortingValue=xa" role="menuitem">
                <a class="dropdown-item">{{xAxisValue.columnName}} - {{'t_MaximumFirst'| translate }}</a>
                <a class="dropdown-item">{{xAxisValue.columnName}} - {{'t_MinimumFirst'| translate }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="form-group my-2" *ngIf="content.displayPreffixSuffix">
    <div class="row">
        <div class="col pb-3">
            <div class="form-group">
                <label for="formInputPreffix">{{'t_Preffix'| translate }}</label>
                <input type="text" class="form-control" id="formInputPreffix" [formControl]="inputValuePreffix"
                    (keyup)="onChangePreffix()" placeholder="Preffix">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col pb-3">
            <div class="form-group">
                <label for="formInputSuffix">{{'t_Suffix'| translate }}</label>
                <input type="text" class="form-control" id="formInputSuffix" [formControl]="inputValueSuffix"
                    (keyup)="onChangeSuffix()" placeholder="Suffix">
            </div>
        </div>
    </div>
</div>



<div *ngIf="content.displayInputText">
    <div class="row">
        <div class="col pb-3">
            <div class="form-group">
                <label for="formInputTextValue">{{'t_ValueText'| translate }}</label>
                <input type="text" class="form-control" id="formInputTextValue" [formControl]="inputValueText"
                    (keyup)="onChangeText()" (blur)="onSaveText()" placeholder="Text">
            </div>
        </div>
    </div>
</div>