<div class=" flex-fill justify-content-center">
    <div class="m-4">
        <!-- Content here -->


        <div class="card">
            <div class="card-body">
                <div class="ts-infobox-header">
                    <h2 class="ts-infobox-title">AirPlus SAAS License</h2>
                    <div class="ts-infobox-badge">Blog</div>
                </div>
                <div class="ts-infobox-body">

                    Windows 10 automatically downloads and installs updates to make sure your device is secure and up to
                    date.
                    This means you receive the latest fixes and security updates, helping your device run efficiently
                    and stay
                    protected. In most cases, restarting your device completes the update. Make sure your device is
                    plugged in
                    when you know updates will be installed. <br>
                    <br>
                    <a href="#" class="ts-link">Read More</a>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Buttons</h5>
                        <h6 class="card-subtitle my-2 text-muted">basic</h6>
                        <div>
                            <button type="button" class="btn btn-primary">Primary</button><button type="button"
                                class="btn btn-secondary btn-hover-brand">Secondary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-link">Link</button>
                        </div>


                        <h6 class="card-subtitle my-2 text-muted">Default options</h6>
                        <div>
                            <button type="button" class="btn btn-primary btn-square">Primary</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-square">Solid</button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-square">Secondary</button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-square">Outline</button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-danger btn-square">Hover
                                Outline</button>&nbsp;
                            <button type="button" class="btn btn-light btn-hover-brand btn-square">Hover Solid</button>
                        </div>


                        <h6 class="card-subtitle my-2 text-muted">The .btn classes are designed to be used with
                            &lt;button&gt;, &lt;a&gt; and &lt;input&gt; elements.</h6>
                        <div>
                            <a class="btn btn-primary" href="#" role="button">Link</a>
                            <button class="btn btn-success" type="submit">Button</button>
                            <input class="btn btn-warning" type="button" value="Input">
                            <input class="btn btn-info" type="submit" value="Submit">
                            <input class="btn btn-danger" type="reset" value="Reset">
                            <a href="#" class="btn btn-dark">Dark</a>
                            <button type="button" class="btn btn-brand">Brand</button>
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Button states:</h6>
                        <div>
                            <button type="button" class="btn btn-dark active">Active</button>
                            <button type="button" class="btn btn-outline-danger active">Active</button>
                            <button type="button" class="btn btn-brand active">Active</button><button type="button"
                                class="btn btn-primary disabled" disabled="">Disabled</button>
                            <button type="button" class="btn btn-success disabled" disabled="">Disabled</button>
                            <button type="button" class="btn btn-outline-success disabled" disabled="">Disabled</button>
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Default options with Fontawesome 5 icons:</h6>
                        <div>
                            <button type="button" class="btn btn-primary"><i class="fa fa-dollar-sign"></i>
                                Primary</button>&nbsp;
                            <button type="button" class="btn btn-brand"><i class="fa fa-tag"></i> Solid</button>&nbsp;
                            <button type="button" class="btn btn-secondary"><i class="fa fa-undo"></i>
                                Secondary</button>&nbsp;
                            <button type="button" class="btn btn-outline-brand"><i class="fa fa-code"></i>
                                Outline</button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-danger"><i class="fa fa-search"></i>
                                Hover Outline</button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Small buttons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-primary btn-sm">Primary</button>
                            <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
                            <button type="button" class="btn btn-success btn-sm">Success</button>
                            <button type="button" class="btn btn-info btn-sm">Info</button>
                            <button type="button" class="btn btn-warning btn-sm">Warning</button>
                            <button type="button" class="btn btn-danger btn-sm">Danger</button>
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Large buttons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-primary btn-lg">Primary</button>
                            <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
                            <button type="button" class="btn btn-success btn-lg">Success</button>
                            <br>
                            <br>
                            <button type="button" class="btn btn-info btn-lg">Info</button>
                            <button type="button" class="btn btn-warning btn-lg">Warning</button>
                            <button type="button" class="btn btn-danger btn-lg">Danger</button>
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Size options:</h6>
                        <div class="">
                            <button type="button" class="btn btn-primary btn-sm btn-icon"><i
                                    class="fa fa-dollar-sign"></i></button>&nbsp;
                            <button type="button" class="btn btn-primary btn-sm btn-icon btn-circle"><i
                                    class="fa fa-dollar-sign"></i></button>&nbsp;

                            <button type="button" class="btn btn-brand btn-icon"><i
                                    class="fa fa-tag"></i></button>&nbsp;
                            <button type="button" class="btn btn-info btn-icon btn-circle"><i
                                    class="fa fa-tags"></i></button>&nbsp;

                            <button type="button" class="btn btn-secondary  btn-lg btn-icon "><i
                                    class="fa fa-undo"></i></button>&nbsp;
                            <button type="button" class="btn btn-secondary  btn-lg btn-icon btn-circle"><i
                                    class="fa fa-check"></i></button>&nbsp;

                            <button type="button" class="btn btn-outline-brand btn-icon"><i
                                    class="fa fa-code"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-icon btn-circle"><i
                                    class="fa fa-user"></i></button>&nbsp;

                            <button type="button" class="btn btn-outline-hover-danger btn-sm btn-icon"><i
                                    class="fa fa-search"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-danger btn-sm btn-icon btn-circle"><i
                                    class="fa fa-calendar"></i></button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Social network solid buttons:</h6>
                        <div class="">
                            <a href="#" class="btn btn-facebook"><i class="socicon-facebook"></i> Facebook</a>&nbsp;
                            <a href="#" class="btn btn-twitter"><i class="socicon-twitter"></i> Twitter</a>&nbsp;
                            <a href="#" class="btn btn-google"><i class="socicon-google"></i> Google</a>&nbsp;
                            <a href="#" class="btn btn-instagram"><i class="socicon-instagram"></i> Instagram</a>&nbsp;
                            <a href="#" class="btn btn-linkedin"><i class="socicon-linkedin"></i> Linkedin</a>&nbsp;
                        </div>

                        <div class="">
                            <a href="#" class="btn btn-label-facebook"><i class="socicon-facebook"></i>
                                Facebook</a>&nbsp;
                            <a href="#" class="btn btn-label-twitter"><i class="socicon-twitter"></i> Twitter</a>&nbsp;
                            <a href="#" class="btn btn-label-google"><i class="socicon-google"></i> Google</a>&nbsp;
                            <a href="#" class="btn btn-label-instagram"><i class="socicon-instagram"></i>
                                Instagram</a>&nbsp;
                            <a href="#" class="btn btn-label-linkedin"><i class="socicon-linkedin"></i>
                                Linkedin</a>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Elevation options with Lineawesome icons::</h6>
                        <div class="">
                            <button type="button" class="btn btn-light btn-elevate-hover btn-pill"><i
                                    class="la la-user"></i> Hover Flat</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-pill"><i class="la la-bank"></i>
                                Solid</button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-elevate btn-pill"><i
                                    class="la la-bullhorn"></i> Secondary</button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-pill"><i
                                    class="la la-cloud-download"></i> Outline</button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-info btn-elevate btn-pill"><i
                                    class="la la-copy"></i> Hover Outline</button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Pill options with Flaticon icons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-light btn-elevate-hover btn-pill"><i
                                    class="flaticon-cogwheel"></i> Hover Flat</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-pill"><i
                                    class="flaticon-business"></i> Solid</button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-elevate btn-pill"><i
                                    class="flaticon-notes"></i> Secondary</button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-pill"><i
                                    class="flaticon-bell"></i> Outline</button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-info btn-elevate btn-pill"><i
                                    class="flaticon-light"></i> Hover Outline</button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Default outline buttons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                            <button type="button" class="btn btn-outline-secondary">Secondary</button>
                            <button type="button" class="btn btn-outline-success">Success</button>
                            <button type="button" class="btn btn-outline-info">Info</button>
                            <button type="button" class="btn btn-outline-warning">Warning</button>
                            <button type="button" class="btn btn-outline-danger">Danger</button>
                            <button type="button" class="btn btn-outline-dark">Dark</button>
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Hover outline buttons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-outline-hover-primary">Primary</button>
                            <button type="button" class="btn btn-outline-hover-brand">Brand</button>
                            <button type="button" class="btn btn-outline-hover-success">Success</button>
                            <button type="button" class="btn btn-outline-hover-info">Info</button>
                            <button type="button" class="btn btn-outline-hover-warning">Warning</button>
                            <button type="button" class="btn btn-outline-hover-danger">Danger</button>
                            <button type="button" class="btn btn-outline-hover-dark">Dark</button>
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Elevation options with Lineawesome icons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-light btn-elevate-hover btn-icon"><i
                                    class="la la-user"></i></button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-icon"><i
                                    class="la la-bank"></i></button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-elevate btn-icon"><i
                                    class="la la-bullhorn"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-icon"><i
                                    class="la la-cloud-download"></i></button>&nbsp;
                            <button type="button" class="btn btn-primary btn-elevate btn-icon"><i
                                    class="la la-cogs"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-dark btn-elevate btn-icon"><i
                                    class="la la-calendar"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-info btn-elevate btn-icon"><i
                                    class="la la-copy"></i></button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Circle options with Flaticon icons:</h6>
                        <div class="">
                            <button type="button" class="btn btn-light btn-elevate-hover btn-circle btn-icon"><i
                                    class="flaticon-cogwheel"></i></button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-business"></i></button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-notes"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-bell"></i></button>&nbsp;
                            <button type="button" class="btn btn-warning btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-technology-2"></i></button>&nbsp;
                            <button type="button" class="btn btn-danger btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-technology-1"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-info btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-bell"></i></button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-info btn-elevate btn-circle btn-icon"><i
                                    class="flaticon-light"></i></button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Link labels:</h6>
                        <div class="">
                            <a href="#" class="btn btn-label-primary btn-pill">Primary</a>&nbsp;
                            <a href="#" class="btn btn-label-success btn-pill">Success</a>&nbsp;
                            <a href="#" class="btn btn-label-info btn-pill">Info</a>&nbsp;
                            <a href="#" class="btn btn-label-danger btn-pill">Danger</a>&nbsp;
                            <a href="#" class="btn btn-label-warning btn-pill">Warning</a>&nbsp;
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Default effect:</h6>
                        <div class="">
                            <button type="button" class="btn btn-light btn-elevate">Light</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate">Brand</button>&nbsp;
                            <button type="button" class="btn btn-success btn-elevate">Success</button>&nbsp;
                            <button type="button" class="btn btn-info btn-elevate">Info</button>&nbsp;
                            <button type="button" class="btn btn-danger btn-elevate">Danger</button>&nbsp;
                            <button type="button" class="btn btn-dark btn-elevate">Dark</button>&nbsp;



                            <button type="button" class="btn btn-light btn-elevate btn-pill">Light</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-pill">Brand</button>&nbsp;
                            <button type="button" class="btn btn-success btn-elevate btn-pill">Success</button>&nbsp;
                            <button type="button" class="btn btn-info btn-elevate btn-pill">Info</button>&nbsp;
                            <button type="button" class="btn btn-danger btn-elevate btn-pill">Danger</button>&nbsp;
                            <button type="button" class="btn btn-dark btn-elevate btn-pill">Dark</button>&nbsp;



                            <button type="button" class="btn btn-light btn-elevate btn-pill btn-sm">Light</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-elevate btn-pill btn-sm">Brand</button>&nbsp;
                            <button type="button"
                                class="btn btn-success btn-elevate btn-pill btn-sm">Success</button>&nbsp;
                            <button type="button" class="btn btn-info btn-elevate btn-pill btn-sm">Info</button>&nbsp;
                            <button type="button"
                                class="btn btn-danger btn-elevate btn-pill btn-sm">Danger</button>&nbsp;
                            <button type="button" class="btn btn-dark btn-elevate btn-pill btn-sm">Dark</button>&nbsp;
                        </div>


                        <h6 class="card-subtitle my-2 text-muted">HOver effect:</h6>
                        <div class="">
                            <button type="button" class="btn btn-brand btn-elevate btn-elevate-air">Brand</button>&nbsp;
                            <button type="button"
                                class="btn btn-success btn-elevate btn-elevate-air">Success</button>&nbsp;
                            <button type="button" class="btn btn-info btn-elevate btn-elevate-air">Info</button>&nbsp;
                            <button type="button"
                                class="btn btn-danger btn-elevate btn-elevate-air">Danger</button>&nbsp;
                            <button type="button"
                                class="btn btn-warning btn-elevate btn-elevate-air">Warning</button>&nbsp;



                            <button type="button"
                                class="btn btn-brand btn-elevate btn-pill btn-elevate-air">Brand</button>&nbsp;
                            <button type="button"
                                class="btn btn-success btn-elevate btn-pill btn-elevate-air">Success</button>&nbsp;
                            <button type="button"
                                class="btn btn-info btn-elevate btn-pill btn-elevate-air">Info</button>&nbsp;
                            <button type="button"
                                class="btn btn-danger btn-elevate btn-pill btn-elevate-air">Danger</button>&nbsp;
                            <button type="button"
                                class="btn btn-warning btn-elevate btn-pill btn-elevate-air">Warning</button>&nbsp;



                            <button type="button"
                                class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm">Brand</button>&nbsp;
                            <button type="button"
                                class="btn btn-success btn-elevate btn-pill btn-elevate-air btn-sm">Success</button>&nbsp;
                            <button type="button"
                                class="btn btn-info btn-elevate btn-pill btn-elevate-air btn-sm">Info</button>&nbsp;
                            <button type="button"
                                class="btn btn-danger btn-elevate btn-pill btn-elevate-air btn-sm">Danger</button>&nbsp;
                            <button type="button"
                                class="btn btn-warning btn-elevate btn-pill btn-elevate-air btn-sm">Warning</button>&nbsp;
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Pill Buttons</h6>
                        <div class="">
                            <button type="button" class="btn btn-primary btn-pill">Primary</button>&nbsp;
                            <button type="button" class="btn btn-brand btn-pill">Solid</button>&nbsp;
                            <button type="button" class="btn btn-secondary btn-pill">Secondary</button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill">Outline</button>&nbsp;
                            <button type="button" class="btn btn-outline-hover-danger btn-pill">Hover
                                Outline</button>&nbsp;
                            <button type="button" class="btn btn-light btn-hover-brand btn-pill">Hover Solid</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dropdowns</h5>
                        <h6 class="card-subtitle my-2 text-muted">Single button dropdowns:</h6>
                        <div>

                            <div class="row">
                                <div class="col">
                                    <div class="dropdown" dropdown>
                                        <button class="btn btn-secondary dropdown-toggle" type="button" dropdownToggle
                                            aria-haspopup="true" aria-expanded="false">
                                            Dropdown button
                                        </button>
                                        <div class="dropdown-menu" *dropdownMenu>
                                            <a class="dropdown-item" href="#" title="" data-placement="right"
                                                data-skin="dark" data-container="body"
                                                data-original-title="Tooltip title">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#" title="" data-placement="left"
                                                data-original-title="Tooltip title">Something else
                                                here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dropdown" dropdown>
                                        <button dropdownToggle class="btn btn-brand dropdown-toggle" type="button"
                                            dropdownToggle>
                                            Dropdown button
                                        </button>
                                        <div class="dropdown-menu" *dropdownMenu>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dropdown" dropdown>
                                        <button dropdownToggle class="btn btn-success dropdown-toggle" type="button"
                                            dropdownToggle>
                                            Single button dropdowns:
                                        </button>
                                        <div class="dropdown-menu" *dropdownMenu>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <h6 class="card-subtitle my-2 text-muted">Trigger dropdown menus above elements by adding
                            .dropup to the parent element.</h6>

                        <div class="row">
                            <div class="col">
                                <div class="btn-group dropup" dropdown>
                                    <button type="button" class="btn btn-secondary dropdown-toggle" dropdownToggle>
                                        Dropup button
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col">
                                <div class="btn-group dropleft" dropdown placement="left" container="body">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                        dropdownToggle>
                                        Dropdown left
                                    </button>
                                    <div class="dropdown-menu"  *dropdownMenu >
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col">
                                <div class="btn-group dropright" dropdown placement="right" container="body">
                                    <button type="button" class="btn btn-outline-success">
                                        Dropdown right
                                    </button>
                                    <button type="button"
                                        class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                        dropdownToggle>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" *dropdownMenu>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6 class="card-subtitle my-2 text-muted">States Dropdowns:</h6>
                        <div class="">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                    dropdownToggle>Primary</button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <!-- /btn-group -->
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                    dropdownToggle>Secondary</button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <!-- /btn-group -->
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-success dropdown-toggle"
                                    dropdownToggle>Success</button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <!-- /btn-group -->
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-brand dropdown-toggle" dropdownToggle>Info</button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <!-- /btn-group -->
                            <div class="btn-group" dropdown placement="right">
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                    dropdownToggle>Danger</button>
                                <div class="dropdown-menu" *dropdownMenu>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <!-- /btn-group -->

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inputs</h5>
                        <h6 class="card-subtitle my-2 text-muted">Input with icon on right position</h6>
                        <div>
                            <div class="ts-input-icon-pill ts-input-icon-right">
                                <input type="text" class="form-control form-control-pill" placeholder="From">
                                <span class="ts-input-icon-icon ts-input-icon-icon-right"><i
                                        class="la la-calendar-check-o"></i></span>
                            </div>
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Input with icon on left position</h6>
                        <div>
                            <div class="ts-input-icon-pill ts-input-icon-left">

                                <input type="text" class="form-control form-control-pill" placeholder="From">
                                <span class="ts-input-icon-icon ts-input-icon-icon-left"><i
                                        class="la la-calendar-check-o"></i></span>
                            </div>
                        </div>
                        <h6 class="card-subtitle my-2 text-muted">Input with icon on both positions</h6>
                        <div>
                            <div class="ts-input-icon-pill ts-input-icon-right ts-input-icon-left">

                                <input type="text" class="form-control form-control-pill" placeholder="From">
                                <span class="ts-input-icon-icon ts-input-icon-icon-left"><i
                                        class="la la-calendar-check-o"></i></span>
                                <span class="ts-input-icon-icon ts-input-icon-icon-right"><i
                                        class="la la-calendar-check-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Input Component Tests</h5>

                    <h6 class="card-subtitle my-2 text-muted">Switch Bar</h6>
                      <app-switch-bar
                        [(state)]="switchValue"
                        [leftSide]= "{icon:'fas fa-list', label:'List View'}"
                        [rightSide]= "{icon:'fas fa-table', label:'Table View'}"
                        [enabled]= 'true'
                      ></app-switch-bar>
                    Switch value: {{ switchValue }}

                    <h6 class="card-subtitle my-2 text-muted">Check-box</h6>
                    <div class="pull-right">
                     <app-checkbox [(state)]="checkBox"></app-checkbox>
                    </div>
                    Check-box value: {{ checkBox }}

                    <h6 class="card-subtitle my-2 text-muted">Input Bar with icon on left position</h6>
                    <app-input-bar
                      [(inputValue)]="inputValue1"
                      leftIcon= "la la-calendar-check-o"
                      placeholder="Input here..." >
                    </app-input-bar>

                    Input value: {{ inputValue1 }}

                    <h6 class="card-subtitle my-2 text-muted">Input Bar with icon on right position</h6>
                    <app-input-bar
                      [(inputValue)]="inputValue2"
                      rightIcon= "la la-calendar-check-o"
                      placeholder="Input here..." >
                    </app-input-bar>

                    Input value: {{ inputValue2 }}

                    <h6 class="card-subtitle my-2 text-muted">Input Bar with icon on both positions</h6>
                    <app-input-bar
                      [(inputValue)]='inputValue3'
                      leftIcon= "la la-calendar-check-o"
                      rightIcon= "la la-calendar-check-o"
                      placeholder="Input here..." >
                    </app-input-bar>

                    Input value: {{ inputValue3 }}

                    <h6 class="card-subtitle my-2 text-muted">Search Bar</h6>
                      <app-search-bar
                        [(searchValue)]="searchValue">
                      </app-search-bar>

                    Search value: {{ searchValue }}

                  </div>
                </div>

                <div class="card" style="height: 256px">
                     <div class="card-body single-scrollable-content">
                       <app-dataset-list
                         [loading]="false"
                         [datasets]="datasetListDatasets"
                         [loadingMore]="false"
                         [loadingMoreEnabled]="false"
                         [actionButton]="true"
                         [selectable]="true"
                         [selectWithRowClick]="true"
                         [selectedDatasets]="datasetListSelectedDatasets"
                         (selectChange)="datasetListSelectedDatasets[$event.datasetId] = $event.selected;"
                       ></app-dataset-list>
                     </div>
                </div>

                <div class="card">
                        <div class="card-body">

                                <h5 class="card-title">Tabs</h5>
                                <h6 class="card-subtitle my-2 text-muted">basic</h6>
                            <tabset class="nav-tabs-line nav-tabs-line-primary">
                                <tab heading="Messages 1" class="nav-item" id="tab1">Basic content 1</tab>
                                <tab heading="Messages 2" class="nav-item" id="tab2">Basic content 2</tab>
                                <tab heading="Messages 3" class="nav-item" id="tab3">Basic content 3</tab>
                            </tabset>

                            <h6 class="card-subtitle my-2 text-muted">full-width</h6>
                            <tabset class="nav-tabs-line full-width nav-tabs-line-primary">
                                    <tab heading="Messages 1" class="nav-item" id="tab1">Basic content 1</tab>
                                    <tab heading="Messages 2" class="nav-item" id="tab2">Basic content 2</tab>
                                    <tab heading="Messages 3" class="nav-item" id="tab3">Basic content 3</tab>
                                </tabset>

                            <tabset class="nav-tabs-line nav-tabs-line-2x nav-tabs-line-success">
                                <tab heading="Messages 1" class="nav-item" id="tab1">Basic content 1</tab>
                                <tab heading="Messages 2" class="nav-item" id="tab2">Basic content 2 </tab>
                                <tab heading="Messages 3" class="nav-item" id="tab3">Basic content 3</tab>
                            </tabset>


                            <tabset class="nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success">
                                <tab heading="Messages 1" class="nav-item" id="tab1">Basic content 1</tab>
                                <tab heading="Messages 2" class="nav-item" id="tab2">Basic content 2</tab>
                                <tab heading="Messages 3" class="nav-item" id="tab3">Basic content 3</tab>
                            </tabset>


                            <tabset class="nav-tabs-line nav-tabs-line-success nav-tabs-line-2x">
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="la la-cog"></i> Messages

                                    </ng-template>
                                    Basic content 1

                                </tab>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="la la-briefcase"></i> Settings
                                    </ng-template>
                                    Basic content 2
                                </tab>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="la la-bell-o"></i>Logs
                                    </ng-template>
                                    Basic content 3
                                </tab>

                            </tabset>
                        </div>
                    </div>


                    <perfect-scrollbar style="max-width: 600px; max-height: 200px;" [config]="config">
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                            <div>Scrollable content</div>
                    </perfect-scrollbar>

            </div>
        </div>




        <!-- <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Date Picker</h5>
                            <h6 class="card-subtitle mb-2 text-muted">basic</h6>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" bsDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="bsDatepicker.toggle()" type="button">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buttons</h5>
                            <h6 class="card-subtitle mb-2 text-muted">basic</h6>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" bsDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="bsDatepicker.toggle()" type="button">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buttons</h5>
                            <h6 class="card-subtitle mb-2 text-muted">basic</h6>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" bsDatepicker>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" (click)="bsDatepicker.toggle()" type="button">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div> -->

    </div>
</div>
