@import "../../theme/functions";
@import "../../theme/styles/config";



#canvas-content {
  position: relative;
  background-color: #ffffff;

}

.rotateable {
  position: relative;
  border: none;
  z-index: 10;
  min-width: 160px;
  min-height: 90px;
  /*position: absolute;*/
  /*width: 200px;
            height: 200px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto auto;
            position: absolute;
            border-radius: 50%;
            background: linear-gradient(90deg, #222, #444, #222);*/
  &:hover {
    border: 1px dotted ts-base-color(grey, 4);
  }
  &.active {
    border: 1px solid ts-brand-color();
    .rotate,
    .zindex-up,
    .zindex-down,
    .remove {
      display: block;
    }
    &.invalid {
      border: 1px solid ts-state-color(danger, base);
    }

    .drag {
      cursor: grab;
      height: 100%;
    }
  }
}

// .ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se
// {
//   display:none;
// }

.draggable {
  position: relative;
  top: 50px;
  left: 50px;
  display: inline-block;
}

.rotate {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -24px;
  top: calc(50% - 12px);
  cursor: pointer;
  color: gray;
}

#resizable {
  border: 1px dotted gray;
  width: 300px;
  height: 300px;
}

// .drag {
//     cursor: grab;
//     height: 100%;
// }

.zindex-up {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -24px;
  top: 0;
  cursor: pointer;
  color: gray;
}

.zindex-down {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -24px;
  bottom: 0;
  cursor: pointer;
  color: gray;
}

.remove {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  right: -20px;
  top: -16px;
  cursor: pointer;
  color: gray;
}


.pagination{
  margin:0;
  padding:0;
}



.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 0 auto 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
  }
}


